:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #213547;
  background-color: #ffffff;
  justify-content: center;
  display: flex;
  color-scheme: light;
}

body {
  margin: 0;
}

.app {
  width: 60vw;
  justify-content: center;
  display: flex;
}

a {
  color: inherit;
  text-decoration: inherit;
}